<h1>consulta component</h1>
<app-filtros 
(OnSearch) = "OnResultadoConsulta($event)" 
(OnPaginationChange) = "OnPaginationChange($event)"
(OnSearchStatusChanged) = "ShowLoading($event)"></app-filtros>

<app-resultados [Archivos] = "pagination.data"></app-resultados>

<img src="assets/img/ajax.gif" *ngIf="cargando" title="cargando...">

<!-- <pagination [totalItems] = "pagination.totalItems" (pageChanged) = "OnPaginationChange($event)" [maxSize] = "10"></pagination> -->
<app-paginator [pagination] = "pagination"></app-paginator>

<app-descargar-query-result></app-descargar-query-result>

<iframe id="downloadFrame" style="display: none;"></iframe>
