<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li style="cursor: pointer;" class="page-item" [ngClass]="{'active': currentPage === p}" *ngFor="let p of pages" (click) = "ChangePage(p)"><a class="page-link">{{p}}</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
    <li>  <select [(ngModel)] = "pageSize" (change) = "PageSizeChanged()">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select></li>
  </ul>

</nav>
