<h2>Resultados de Consulta</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha</th>
        <th>Archivo</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of Archivos">
        <td>{{a.Origen}}</td>
        <td>{{a.Destino}}</td>
        <td>{{a.Fecha | date: 'short'}}</td>
        <td>{{a.FileName }}</td>
        <td>{{a.FilePath }}</td>
        <td>
          <!-- <button class="btn btn-primary">Reproducir</button> | <button class="btn btn-primary">Descargar</button> -->

          <button class="btn btn-primary" *ngIf="!a.Playing" (click) = "Reproducir(a)">Reproducir</button>
          <mat-basic-audio-player
          *ngIf="a.Playing" 
          [audioUrl]="GetAudioUrl(a.id)" 
          [title]="a.FileName" 
          [autoPlay]="false" 
          muted="muted" 
          (trackEnded)="onEnded($event)"
          [displayTitle]="a.FileName" 
          [displayVolumeControls]="true" ></mat-basic-audio-player>
          <button class="btn btn-primary" *ngIf="a.Playing" (click) = "QuitarReproduccion(a)">Quitar Reproducción</button>
          | <app-descargar-audio [audioId] = "a.id"></app-descargar-audio>
        </td>
      </tr>     
    </tbody>
  </table>
</div>
