<p>
    <input type="checkbox" [(ngModel)]="filtrarFechas">
    Desde: <input type="date" [disabled]="!filtrarFechas">
    Hasta: <input type="date" [disabled]="!filtrarFechas">
</p>

<p>
    <input type="checkbox" [(ngModel)]="filtrarOrigen">
    Origen: <input type="text" [disabled]="!filtrarOrigen">
</p>

<p>
    <input type="checkbox" [(ngModel)]="filtrarDestino"> 
    Destino: <input type="text" [disabled]="!filtrarDestino"> 
</p>

<button class="btn btn-primary" (click)="Buscar()"> Buscar </button>