<div class="row">
    <div class="col-1"> 
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-control" type="checkbox" [(ngModel)]="dataFilter.filtrarFechas">
    </div>
    <div class="col">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>Desde:</label> 
        <!-- <input type="date" [disabled]="!dataFilter.filtrarFechas" [(ngModel)]="dataFilter.fechaDesde"> -->
        <input type="text" placeholder="Datepicker" 
        class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }"
        [disabled]="!dataFilter.filtrarFechas"
        [(ngModel)]="dataFilter.fechaDesde">
    </div>
    <div class="col">
        <label>Hasta:</label> 
        <!-- Hasta: <input type="date" [disabled]="!dataFilter.filtrarFechas" [(ngModel)]="dataFilter.fechaHasta"> -->
        <input type="text" placeholder="Datepicker" 
        class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }"
        [disabled]="!dataFilter.filtrarFechas"
        [minDate]="dataFilter.fechaDesde"
        [(ngModel)]="dataFilter.fechaHasta">
    </div>
</div>

<div class="row">
    <div class="col-1">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-control" type="checkbox" [(ngModel)]="dataFilter.filtrarOrigen">
    </div>
    <div class="col">
        <label>Origen: </label>
        <input type="text" class="form-control" [disabled]="!dataFilter.filtrarOrigen" [(ngModel)]="dataFilter.origen">
    </div>
</div>

<div class="row">
    <div class="col-1">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-control" type="checkbox" [(ngModel)]="dataFilter.filtrarDestino">
    </div>
    <div class="col">
        <label>Destino: </label> 
        <input class="form-control" type="text" [disabled]="!dataFilter.filtrarDestino" [(ngModel)]="dataFilter.destino">
    </div>
</div>
<br />
<button class="btn btn-primary" (click)="Buscar()"> Buscar </button>