<p>
    <input type="checkbox" [(ngModel)]="dataFilter.filtrarFechas">
    Desde:
    <input type="date" [disabled]="!dataFilter.filtrarFechas" [(ngModel)]="dataFilter.fechaDesde">

    
    Hasta: <input type="date" [disabled]="!dataFilter.filtrarFechas" [(ngModel)]="dataFilter.fechaHasta">
</p>

<p>
    <input type="checkbox" [(ngModel)]="dataFilter.filtrarOrigen">
    Origen: <input type="text" [disabled]="!dataFilter.filtrarOrigen" [(ngModel)]="dataFilter.origen">
</p>

<p>
    <input type="checkbox" [(ngModel)]="dataFilter.filtrarDestino">
    Destino: <input type="text" [disabled]="!dataFilter.filtrarDestino" [(ngModel)]="dataFilter.destino">
</p>

<button class="btn btn-primary" (click)="Buscar()"> Buscar </button>